<!DOCTYPE html>
<html lang="en-gb" ng-app="erehwonApp">

<head>
    <title>Projects | Erehwon</title>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="created" content='27th May 2016' />
    <meta name="description" content="Erehwon" />
    <meta name="author" content="Erehwon" />
    <meta name="copyright" content="All text content and images copyright Erehwon" />
    <meta name="company" content="Erehwon" />
    <!-- Latest compiled and minified CSS -->
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../app/app.js"></script>
</head>

<body ng-controller="DashboardController">
    <header class="logged-in">
        <div class="header-content">
            <h1><span class="hello">hello, </span>username</h1>
            <label class="switch map-switch">
                <input id="switch-input" type="checkbox" ng-model="mapSwitch">
                <div class="slider round"></div>
            </label>
        </div>
    </header>
    <div class="overlay" ng-show="mapSwitch">
        <!-- Overlay content -->
        <div class="overlay-content">
            <p>Overlay content in here.</p>
        </div>
    </div>
    <div class="content">
        <div class="section group dashboard-navigation">
            <div class="col span_1_of_5 dashboard-link -projects -active">
                <span class="notification-counter">1</span>
            </div>
            <div class="col span_1_of_5 dashboard-link -ideas">
            </div>
            <div class="col span_1_of_5 dashboard-link -contacts">
            </div>
            <div class="col span_1_of_5 dashboard-link -actions">
            </div>
            <div class="col span_1_of_5 dashboard-link -inbox">
            </div>
        </div>
        <section class="idea" ng-controller="ManageController">
            <div class="add-idea">
                <button href="#" class="button-primary" ng-click="clickAdd()">+ Add a project
                </button>
                <div class="add-idea_wrap" ng-show="showAdd">
                    <div class="img-circle"></div>
                    <form class="new_idea__form">
                        <input type="text" placeholder="Title">
                        <textarea placeholder="Synopsis" maxlength="100" rows="3"></textarea>
                        <select name="select">
                            <option value="" disabled selected>Select a label</option>
                            <option value="value1" selected>Digital Activism</option>
                            <option value="value2">Activism</option>
                            <option value="value3">Community Development</option>
                            <option value="value3">Urban Planning</option>
                            <option value="value3">New Ecologies</option>
                            <option value="value3">Alternative Economies</option>
                            <option value="value3">Citizen Movements</option>
                            <option value="value3">Artistic Interventions</option>
                        </select>
                        <input type="text" class="tagged" name="tag-1" data-removeBtn="true" placeholder="create a tag">
                        <input type="text" placeholder="Add Multimedia">
                        <input type="text" placeholder="Add Contributors">
                        <input type="text" placeholder="Add Articles">
                        <div class="project-active-wrap">
                            <span>Is the project Active now?</span>
                            <label class="switch map-switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="button-wrap">
                            <submit class="button">Save</submit>
                            <button class="button">Save&Share</button>
                            <button class="button">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="project-list u-full-width">
                <div class="row">
                    <div class="six columns">
                        <a href="#" class="project-title">Mile End Gardens</a>
                        <div>
                            Contributors: 20
                        </div>
                    </div>
                    <div class="three columns">
                        <button class="button-secondary">Add to map</button>
                    </div>
                    <div class="three columns">
                        <button class="button-secondary">Remove from map</button>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <a href="#" class="project-title">Another project</a>
                        <div>
                            Contributers: 2
                        </div>
                    </div>
                    <div class="three columns">
                        <button class="button-secondary">Add to map</button>
                    </div>
                    <div class="three columns">
                        <button class="button-secondary">Remove from map</button>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <footer class="footer">
        <nav>
            <ul class="footer-links">
                <li><a href="">About</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Credits</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
    <script src="../scripts/scripts.js" async></script>
</body>

</html>
