dj-database-url==0.4.1
Django==1.10.6
django-ajax-selects==1.5.2
django-countries==3.4.1
django-custom-user==0.6
django-model-utils==2.6
django-notifications-hq==1.2
django-postman==3.4.0
django-registration==2.1.2
gunicorn==19.5.0
jsonfield==1.0.3
pep8==1.7.0
Pillow==3.2.0
psycopg2==2.6.1
pytz==2016.7
whitenoise==3.1
