{% extends "layout.html" %}

{% load static %}

    {% block main %}
    <header class="header">
        <img src="{% static "img/EW-logo-landingpage-01.svg" %}" class="logo" />
        <div class="button-primary" id="register-login">
            <a href="/accounts/login"><img src="{% static "img/SignIn-Up.svg" %}" />
              <div>Sign In/Up</div>
            </a>
        </div>
    </header>
    <div id="content">
        <img src="{% static "img/dummybackgd.png" %}" class="map" />
        <!--<div id="content-anchor"></div> -->
    </div>
    {% endblock %}
