{% extends 'base.html' %}
{% load static %}

{% block layout %}

        {% block main %}
        {% endblock %}
        <footer class="footer-wrap">
            <nav class="main-nav">
                <div class="top-nav">
                  <div class="footer-ereh-name">Erehwon</div><div class="footer-ereh-desc"> is an on-line conllaborative platform for conecting people involved in socio-political interventions, building communities of interest and enabling and empowering civic engangement in socio-political activities in public spaces. The map on this page visualises the socio-political projects of the community and it can be searched to visualise specific queries. If you have an invitation by a community member please sign up . and welcome!</div>
              </div>
                <div class="button-primary">
                    <a href="/accounts/register"><img src="{% static "img/SignIn-Up.svg" %}" />
                      <div>Sign In/Up</div>
                    </a>
                </div>
            </nav>
            <nav class="footer">
                <ul class="footer-media">
                    <li>
                        <a href="https://github.com/marizoldi/Erehwon"><img src="{% static "img/github_tiny.svg" %}" /></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/twitter"><img src="{% static "img/twitter_tiny.svg" %}" /></a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">THE MAP</a>
                    </li>
                    <li>
                        <a href="">SUPPORT</a>
                    </li>
                    <li>
                        <a href="">PRIVACY</a>
                    </li>
                </ul>
            </nav>
        </footer>

{% endblock %}
