.dashboard-menu {
	text-align: center;
	height: 100px;
	padding: 20px 0;
	list-style-type: none;
}

.dashboard-item {
	width:110px;
	float: left;
	text-align: center;
	margin: 5px 10px;
	border: 1px black solid;
	padding: 10px;
	border-radius: 5px;
	.item-image {
		height: 80px;
		width: 80px;
		border-radius: 80px;
		background-color: lightblue;
		display:inline-block;
		border: 2px lightblue solid;

	}
	.item-title {
		font-size: 15px;
	}
	.item-image:hover {
		background-color: white;
	}
}
