.dashboard-menu {
	text-align: center;
	height: 100px;
	list-style-type: none;
}

.dashboard-item {
	width:110px;
	float: left;
	text-align: center;
	margin: 5px 10px;
	border: 1px black solid;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	.item-image {
		height: 80px;
		width: 80px;
		border-radius: 80px;
		background-color: lightblue;
		display:inline-block;
		border: 2px lightblue solid;

	}
	.item-title {
		font-size: 15px;
	}
	.item-image:hover {
		background-color: white;
	}
	.notification-counter {
		height: 30px;
		width: 30px;
		background-color: red;
		border-radius: 30px;
		position:absolute;
		bottom: -15px;
		right: -15px;
		text-align: center;
		vertical-align: middle;
		font-size: 20px;
		color: black;
	}
}
