

	.main-nav {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: -webkit-flex;
		display: flex;
		align-items: stretch;
		background: $main-blue;
		text-align: center;
		vertical-align: text-bottom;
		padding: 1.2em 0;
		max-height: $footer-height/3;
		font-family: $Montserrat;
		font-size: $bold;
		bottom: 0;
		position: absolute;
		width: 100%;

		.footer-links {
			font-size: 1.1em;
			list-style-type: none;
			margin:0;
			padding: $padding-value $padding-value*3;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-basis: 28em;
			flex-basis: 28em;
			justify-content: space-between;
			li {
				display: inline-block;
				a {
					color: $dark-text-color;
					text-decoration: none;
				}
			}
		}

		.footer-media {
			list-style-type: none;
			margin-left: $margin-value/2;
			margin-bottom: 0;
			-webkit-flex-grow: 1;
			flex-grow: 1;
			display: -webkit-flex;
			display: flex;
			align-items: center;

			li {
				display: inline-flex;
				margin: $margin-value/2;
				a {
					color: $dark-text-color;
					text-decoration: none;
					img {
						height: 2em;
					}
				}
			}
		}
	}

.content-wrap {
	display: -webkit-flex;
	display: flex;
	flex: 1 0 0;
	padding: $padding-value;
	justify-content: space-between;
	font-family: $Montserrat-main-text;
	.sidebar {
		padding: $padding-value*2;
		box-sizing: border-box;
		flex-basis: 45%;
	}
}

#the-map, #support, #privacy {
		margin-top: 2em;
}

.not-showing {
	visibility: hidden;
}

//sticky nav styling

.container {
	 display: inline;
	 margin:0 auto;
}

nav.main-nav.stickytop {
	 position:fixed;
	 top:0;
	 width: 100%;
}

.content {
	 color:#222;
	 padding:50px;
	 -webkit-column-count:3;
/* Chrome, Safari, Opera */
	 -moz-column-count:3;
/* Firefox */
	 column-count:3;
	 -webkit-column-gap:40;
	 column-gap:40px;
}

.content h2 {
	 margin:0;
}

.pnl__title {
	padding-top: 3em;
	margin: 0;

}
