footer {
	width: 100%;
	height: 40px;
	bottom: 0;
	background: aliceblue;
	padding: 20px 0;
	nav {
		text-align: center;
		
		vertical-align: text-bottom;
	}
	.footer-links {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			display: inline;
		}
	}
}

.footer {
	position: initial;
	height: auto;
	nav {
		margin-top: 5em;

	}	
}
