.footer-wrap {
	width: 100%;
   	width:100%;
   	position: absolute;
   	bottom:0;
   	width:100%;
	color: $color-white;
	min-height: $footer-height;
	display: flex;
	flex-direction: column;
	
}

.footer {
	flex: 1;
	background: #4FB6AC;
	text-align: center;
	vertical-align: text-bottom;
	padding: $padding-value;
	height: $footer-height/2;

}

.footer-links {
	list-style-type: none;
	margin:0;
	padding: $padding-value;
	li {
		display: inline-block;
		margin: 0 $margin-value;
		a {
			color: white;
			text-decoration: none;
		}
	}
}
