form {
  margin: 0 auto;
  width: 100%;
  max-width: 30em;
  padding: $padding-value;
  padding-bottom: 0;
}

select {
  height: 3em;
}

input, select {
  display: block;
  width: 100%;
  border: none;
  color: $text-dark-color;
  font-weight: 100;
  margin: $margin-value 0;
  max-width: 100%;
  border: 1px solid $grey;
  &::-webkit-input-placeholder {
    padding: $form-padding-value
  }

}

textarea {
  display: block;
  width: 100%;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  border: none;
  color: $text-dark-color;
  font-weight: 100;
  &::-webkit-input-placeholder {
    padding: $form-padding-value
  }

}