.header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  @media (max-width: 400px) {
    //background-color: red; for testing only
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .button-primary {
  	background: $button-default;
  	font-family: $Montserrat;
  	font-weight: $bold;
  	padding: 0.75em $padding-value*6;
    margin: 0.75em $padding-value*3;
    display: -webkit-flex;
    display: flex;
  	a {
  		text-align: center;
  		color: $dark-text-color;
  		text-decoration: none;
  		margin: auto;
      img {
        height: 2em;
      }
  	}
  	&:hover {
  		background: $button-hover;
  	}
  	&:active {
  		background: $button-active;
  	}
  }

}
