header {
    height: auto;
    top: 0;
    z-index: 1;
    &.logged-in {
        background: $main-color;
        margin: 0 auto;
        position: relative;
        color: $color-white;
        .header-content {
            max-width: $max-width;
            margin: 0 auto;
        }
        .map-switch {
            float: right;
            margin-top: 25px;

        }
        h1 {
            display: inline;
        }
        h1 .hello {
            display: none;
        }
        @media (min-width: 550px) {
            h1 .hello { display: inline;}

        }
    }
    &.public {
        text-align: center;
        background: none;
    }
}
