.main-nav {
    flex: 1;

    ul {
        display: inline-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        margin: 0 1em;
        clear: both; //clears the floating search;
        li {
            margin: 0;
        }

        a {
            margin: 0;
            border-bottom: 0;
            background-color: $color-white;
        }

        .main-menu__about {
            flex: 9;
        }
    }
}

.search-field {
    max-width: 19em;
    text-align: right;
    margin: 1em;
    float: right;
    border-radius: 0;
}
