.idea {
	max-width: $smaller-width;
	margin: 0 auto;

	.idea-icon__add {
		display: inline;
		font-size: 1.3em;
	}

	.idea__add {

		h1 {
			display: inline;
			padding: 0;
			margin: 0;
			flex: 1;
			padding: $padding-value;
		}

		button {
			background: $background-pale-color;
			border-style: none;
			background: $grey;
			margin: $margin-value;

			&:hover {
				cursor: pointer;
			}
		}

	}

	form {
		input {
			margin: $margin-value;
			display: block;
			padding: $padding-value;
		}
		.tag-input {
			border: none;
		}

	}

}
