//logo class for login,reset password, register etc templates
.logo-templates {
		margin: 0;
		max-height: 25px;
    max-width: 100%;
		background-color: $main-blue;
		padding: $padding-value;
}


//logo class for landing page
.logo {
	height: 70px;
	margin: 0 $padding-value*2;
}
