#content {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	@media (max-width: 400px) {
		//background-color: red; for testing only
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.map {
		height: auto;
		//height: 37em;
		//width: 100%;
		max-width: 100%;
		background-size: contain;
		//margin-left: 10%;
		//margin-top: 6%;
		@media (min-width: 1100px) {
			height: 44em;
			//margin-top: 0;
			margin-top: 2%;
		}
		@media (max-width: 500px) {
			//background-color: red; jusr for testing
			height: 15em;
			margin-top: 1%;
			margin-left: 5%;
		}

		@media screen and (max-height: 650px) {
			//background-color: red;
			height: 40em;
			margin-top: 1%;
			margin-left: 1%;
		}

	}
	.filter-options {
		margin-top: 5em;
		.filter-one {
			 margin: 0 30px 0 0;
			 div {
				 color: $light-grey;
				 font-size: small;
				 text-align: end;
			}
			 .parameter {
					color: $main-blue;
					font-size: smaller;
					padding: 0;
					margin: 0;
			}
		}
	}

}
