.passwordreset {
  background: $background-grey-color;
  position: fixed;
  height: 100%;
  width: 100%;
  header {
    background-color: $main-blue;
    padding: 15px 0 15px 10px;
    a {
      color: $dark-text-color;
      text-decoration: None;
    }
  }

  .passwordreset-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    .passwordreset-formhead {
      background: $main-blue;
      text-align: center;
      img {
        width: auto;
        height: 50px;
      }
      p {
        color: $dark-text-color;
      }
    }
    form {
      height: auto;
      width: 35em;
      label {
        position: absolute;
        top: 61%;
        left: 1%;
        visibility: hidden;
      }
      label:after {
        visibility: visible;
        content: "E-mail";
        color: $dark-text-color;
      }
      p {
        text-align: center;
      }

      #id_email {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        width: 80%;
        border-width: 2px;
      }
      .button {
        width: auto;
        padding: 0px 10px 0px 10px;
        color: $dark-text-color;
      }
    }

  }
}
