@mixin formwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}

@mixin formwrapper-content {
  width: 32%;
  background: $color-white;
  @media screen and (max-width: $break-small) {
    width: auto !important;
    margin: 20px;
  }
}

@mixin formhead {
  background: $main-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  img {
    width: auto;
    height: 45px;
  }
  p {
    margin: 0;
    color: $dark-text-color;
  }
}

.passwordreset {
  background: $background-grey-color;
  position: fixed;
  height: 100%;
  width: 100%;
  header {
    background-color: $main-blue;
    padding: 15px 0 15px 10px;
    a {
      color: $dark-text-color;
      text-decoration: None;
    }
  }

  .passwordreset-formwrapper {
    @include formwrapper;
    .passwordreset-formwrapper-content {
      @include formwrapper-content;
    }
    .passwordreset-formhead {
      @include formhead;
    }
  }

  .passwordreset-formwrapper-content {
    form {
      width: 70%;
      height: 190px;
      margin-bottom: 30px;
      label {
        position: absolute;
        visibility: hidden;
        width: 15%;
      }
      label:after {
        visibility: visible;
        content: "E-mail";
        top: 42px;
        position: absolute;
        left: 3px;
        color: $dark-text-color;
      }
      p {
        margin-top: auto;
        margin-bottom: initial;
      }
      #id_email {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-width: 2px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-color: $text-light-black;
      }
    }
    .button {
      width: auto;
      padding: 0px 5px 0px 5px;
      color: $dark-text-color;
    }

    @media screen and (max-width: $break-medium) {
      width: 100% !important;
      margin: 30px;
    }
  }

}
