.singup-form {
	max-width: $form-width;
	margin: 0 auto;
	padding: $padding-value*2;
	border: 1px solid $grey;
	background-color: $background-light-color;
	position: fixed;
	bottom: 0;
	margin-bottom: 4em;
	z-index: 1;
	left: 40%;

}

.main_container {
	position: fixed;
	width: 100%;
	bottom: 0;
}



