.user-space_menu {
	ul {
		list-style: none;
	}
	li {
		padding: $padding-value 0;
		
		&:first-child {
		font-size: 3em;
		font-weight: bold;
		}
	}

	a {
		text-decoration: none;
		color: $dark-text-color;
	}
}