$background-pale-color: #f2f4f6;
$grey: #C9C9C9;
$yellow: #F1C40F;
$max-width: 60em;
$form-width: 10em;
$padding-value: .5em;
$margin-value: 1em;
$footer-height: 10em;
$footer-width: 30em;
$dark-text-color: #3c3c3c;
$smaller-width: 40em;
$base-font-size: 14px;
$accent-color: pink;
$text-dark-color: #4e4e4e;
$form-padding-value: 1em;
$main-color: #73bf9b;
