//fonts
$Montserrat: 'Montserrat', sans-serif;
$Montserrat-main-text: 'Montserrat Alternates', sans-serif;

//font weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$color-white: #fff;
$main-color: #73bf9b;
$main-color-hover: rgba($main-color, 0.7);
$background-light-color: #f2f4f6;

$background-main: #E0E2EE;
$grey: #C9C9C9;
$yellow: #FDBA33;
$dark-text-color: #37474f;
$accent-color: pink;
$dark-grey: #25262d;
$light-grey: #b4b0b4;
$button-default: #fab733;
$button-hover: #ff9f00;
$button-active: #ff9f00;
$main-blue: #4FB6AC;
$map-grey: #F1F3F5;
$background-grey-color:#F1F3F5;
$text-dark-color: #4e4e4e;
$text-light-color: $color-white;
$text-light-black:#9F9F9F;



// Sizes
$max-width: 60em;
$form-width: 30em;
$padding-value: .5em;
$margin-value: 1em;
$footer-height: 8em;
$footer-width: 30em;
$smaller-width: 40em;
$base-font-size: 14px;

$form-padding-value: 1em;
$break-medium:768px;
$break-small:640px;


