// Colors
$color-white: #fff;
$main-color: #73bf9b;
$main-color-hover: rgba($main-color, 0.7);
$background-light-color: #f2f4f6;
$background-main: #E0E2EE;
$grey: #C9C9C9;
$yellow: #FDBA33;
$dark-text-color: #3c3c3c;
$accent-color: pink;
$dark-grey: #25262d;
$light-grey: #b4b0b4;
$button-default: #fab733;
$main-blue: #4FB6AC;

// Sizes
$max-width: 60em;
$form-width: 15em;
$padding-value: .5em;
$margin-value: 1em;
$footer-height: 8em;
$footer-width: 30em;
$smaller-width: 40em;
$base-font-size: 14px;
$text-dark-color: #4e4e4e;
$text-light-color: $color-white;

$form-padding-value: 1em;
