{% extends "base.html" %}

{% load static %}

{% block layout %}

    <div class="activationcomplete">

        <header>
            <a href="/accounts/login"> &lt; back to Erehwon</a>
        </header>

        <div class="activationcomplete-wrapper">
            <div class="activationcomplete-wrappercontent">

                <div class="activationcomplete-head">
                    <img src="/static/img/EW-logo.svg"/>
                    <p>SIGN UP</p>
                </div>

                <p>Welcome to the Erehwon community!</p>
                <p>You will have to activate your accoun before you can login,
                pleasr check your email for the link</p>

            </div>
        </div>

    </div>

{% endblock %}


