<meta http-equiv="refresh" content="2; url=/home" />

{% extends "base.html" %}

{% load static %}

{% block layout %}

    <div class="activationcomplete">

        <div class="activationcomplete-wrapper">
            <div class="activationcomplete-wrappercontent">

                <div class="activationcomplete-head">
                    <img src="/static/img/EW-logo.svg"/>
                    <p>ACTIVATION</p>
                </div>
                <div class="actioncomplete-content">
                    <p class="content-title">Congratulations!</p>
                    <p class="content-details">Your account is now active.
                    I am redirecting you to your dashboard.</p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}


