{% extends "base.html" %}

{% load static %}

{% block layout %}

    <div class="activationcomplete">

        <header>
            <a href="/accounts/login"> &lt; back to Erehwon</a>
        </header>

        <div class="activationcomplete-wrapper">
            <div class="activationcomplete-wrappercontent">

                <div class="activationcomplete-head">
                    <img src="/static/img/EW-logo.svg"/>
                    <p>SIGN UP</p>
                </div>
                <div class="actioncomplete-content">
                    <p class="content-title">Welcome to Erehwon!</p>
                    <p class="content-details">You will have to activate your account before you can login,
                        please check your email for the link</p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}


