{% extends "base.html" %}

{% load static %}

{% block layout %}

    <div class="signin">

        <header>
            <a href="/"> &lt; back to Erehwon</a>
        </header>

        <div class="signin-formwrapper">
            <div class="signin-formwrapper-content">
                <div class="signin-formhead">
                    <img src="/static/img/EW-logo.svg"/>
                    <p>WELCOME</p>
                </div>

                <div class="signin-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="button" value="Sign in"/>
                    </form>
                </div>

                <div>
                  <a href="/accounts/password/reset">Forgot Password?</a>
                </div>
                <div>
                  <a href="/accounts/register" class="underline txt-right">Invited to join us? Sign Up</a>
                </div>
              
            </div>
        </div>
    </div>

{% endblock %}




 
