{% extends "base.html" %}

{% load static %}


{% block layout %}

    <!-- <h1 class="pnl__title">Log In</h1> -->
    <div class="map">
      <div class="overlay">
        <div class="singup-form">
        <form method="POST" action="">
            <div class="row">
        	   {% csrf_token %}
        	   {{ form.as_p }}
            </div>
            <div class="row">
                <a href="/accounts/password/reset">Forgot Password</a>
            </div>
            <div class="row">
                <input class="button round right" type="submit" value="Sign in">
                <a href="/accounts/register" class="underline txt-right">Not Registered? Start here</a>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
