{% extends "base.html" %}

{% load static %}

{% block layout %}

    <div class="passwordreset">

        <header>
            <a href="/accounts/login"> &lt; back to Erehwon</a>
        </header>

        <div class="passwordreset-form">
            <div class="passwordreset-formhead">
                <img src="/static/img/EW-logo.svg"/>
                <p>PASSWORD RESET</p>
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" value="Email me the reset link"/>
            </form>
        </div>

    </div>

{% endblock %}
