{% extends "dashboard-layout.html" %}

{% load static %}

{% block main %}

<section >
    <h1> My Projects </h1>
    <ul class="idea-list">
        {% for project in projects %}
        <li>
            <div class="idea-info idea-list-col">
                <a href=""><h2>{{ project.title }}</h2></a>
                <div>
                    <p>Contributors: 20</p>
                </div>
            </div>
            <a href="#" class="idea-list-col">Add to map</a>
            <a href="#" class="idea-list-col">Remove from map</a>
        </li>

        {% endfor %}
    </ul>
</section>
{% endblock %}
