@import "partials/variables";
@import "partials/signup";
@import "partials/logo";
@import "partials/map";
@import "partials/ideas";
@import "partials/tags";
@import "partials/user-space-menu";
@import "partials/footer";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: $background-pale-color;
}

.content {
	max-width: $max-width;
	margin: 0 auto;
	min-height:100%;
    position:relative;
}

header, footer{
	position:absolute;
	right: 0;
	left: 0;
}

header {
	text-align: center;
	height: 100px;
	top: 0;
}

#content {
	overflow:hidden;
	vertical-align: text-bottom;
	position: relative;
	height: 100%;
	#explore {
		width: 100%;
		position: absolute;
		bottom: 150px;
		
		.explore-text {
			padding: 30px;
			margin: 0 30px;
			background: beige;
		}
	}
}

footer {
	height: 60px;
	bottom: 0;
	background: aliceblue;
	padding: 20px;
	nav {
		text-align: center;
		
		vertical-align: text-bottom;
	}
	.footer-links {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			display: inline;
		}
	}
}

#signup,#signin {
	z-index: 1;
	position: absolute;
	bottom: 70px;
}
#signup {
	right: 20px;
}
#signin {
	right: 160px;
}

.button {
    background-color: #ffffff;
    border: 2px #008CBA solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #008CBA; /* Green */
    color: white;
}