@import "partials/variables";
@import "partials/signup";
@import "partials/logo";
@import "partials/map";
@import "partials/footer";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: $background-pale-color;

}

.content {
	max-width: $max-width;
	margin: 0 auto;
	min-height:100%;
    position:relative;
}

header, footer, #content {
	position:absolute;
	right: 0;
	left: 0;
}

header {
	text-align: center;
	height: 100px;
	top: 0;
}

#content {
	top: 0;
	bottom: 100px;
	overflow:hidden;
}

footer {
	height: 100px;
	bottom: 0;
	background: aliceblue;
	padding: 20px;
	nav {
		text-align: center;
		
		vertical-align: text-bottom;
	}
	.footer-links {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			display: inline;
		}
	}
}
